@model mvc_lives.Models.Live

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Live</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrutor.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracaoMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracaoMin) Minutos
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorInscricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorInscricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LiveID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
