@model mvc_lives.Models.Inscricao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inscricao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Live)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Live.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorInscricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorInscricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inscrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inscrito.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPagamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InscricaoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
