@model IEnumerable<mvc_lives.Models.Inscricao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Live)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Live.LiveID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inscrito.InscritoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVencimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPagamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InscricaoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InscricaoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InscricaoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
